@font-face {
  font-family: "PT Sans";
  src: url("..//../dist/fonts/PT_Sans/PTSans-Bold.ttf");
  src: url("..//../dist/fonts/PT_Sans/PTSans-BoldItalic.ttf");
  src: url("..//../dist/fonts/PT_Sans/PTSans-Italic.ttf");
  src: url("..//../dist/fonts/PT_Sans/PTSans-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

@media (max-width: 1300px) {
  .body:after {
    content: "";
    display: block;
    width: 100%;
    height: 1570px;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
@media (max-width: 1080px) {
  .body:after {
    content: "";
    display: block;
    width: 100%;
    height: 2302px;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

@media (max-width: 770px) {
  .body:after {
    content: "";
    display: block;
    width: 100%;
    height: 4540px;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
