@import "./params.scss";

.header {
  &__title {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-size: 35.5px;
    margin-top: 25px;
    letter-spacing: 0.4px;
    margin-left: 10px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    margin-left: -4px;
    &__items {
      list-style: none;
      width: 111px;
      height: 18px;
      background-color: #f5f3e8;
      padding: 15px;
      margin: 5px;
      margin-top: 20.5px;
      font-size: 17.6px;
    }
    &__items:hover {
      cursor: pointer;
      background-color: #8fb52c;
      transition: 1s;
    }
    &__items:first-child {
      padding-left: 25px;
      margin-left: 0px;
      color: #868179;
      p {
        border-bottom: 1px dotted #868179;
        width: 100px;
        margin-top: -1px;
      }
    }
    &__items:nth-child(2) {
      background-color: #8fb52c;
      img {
        display: block;
        margin: 0 auto;
        margin-top: -6px;
      }
    }
    &__items:nth-child(3) {
      img {
        display: block;
        margin-left: 1px;
        margin-top: -5px;
      }
    }
    &__items:nth-child(4) {
      img {
        display: block;
        margin-left: 6px;
        margin-top: -5px;
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    &__nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
