.content {
  display: block;
  margin: 0 auto;
  height: 500px;
  padding-top: 100px;
  position: relative;
  &__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__collaps {
      width: 400px;
      margin-bottom: 20px;
    }
  }
}

.btn__cv {
  position: absolute;
  width: 100px;
  height: 30px;
  font-size: 11px;
  right: 20px;
  top: 65px;
}

// @media (max-width: 500px) {
//   .btn__cv {
//     width: 20%;
//     height: 40px;
//     font-size: 10px;
//   }
// }

.card {
  margin: 5px;
  &-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
      margin-top: 4px;

      width: 300px;
    }
  }
}

.progress {
  width: 385px;
  margin: 5px;
  &-bar {
    margin-left: 2px;
  }
}
