* {
  padding: 0;
  margin: 0;
}

.main_content {
  display: block;
  margin: 0 auto;
  background-color: #e2e0e0;
  height: 100%;
  width: 500px;
  border-radius: 50px;
}

@media (max-width: 500px) {
  .main_content {
    width: 401px;
  }
}

@media (max-width: 450px) {
  .main_content {
    width: 370px;
  }
}
