@import "partials/params";
@import "partials/mixins";

.about-us{
   display: flex;
    &__menu{
            background-color:#fff;
            min-height: 700px;
            height: 100vh;
            width: 5vw;
            color: $grey;
            text-align: center;
            a{
                display: block;
                margin-top: 40px;
                text-decoration: none;
                color: $grey;
                clear: both;
            }
            & .link__socnetworks{
                display: flex;
                transform: rotate(-90deg);
                margin-top: 70vh;
                p{  
                    display: flex;
                    padding-right: 25px;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding-top: 3px;   
                }
                i{
                    font-size: 20px;
                    padding-right: 5px;
                }
            }
        }
       &__content{
           min-height: 700px;
           height: 100vh;
           display: flex;
           justify-content: space-between;
           align-items: center;
           & .video{
               height: 100%;
               width: 40vw;
               background: url("./imgs/video.png") no-repeat;
               background-position-x: center;
               background-color: rgba($color: #000000, $alpha: 0.5);
               display: flex;
               justify-content: center;
               align-items: center;
               & .play{
                height: 100px;
                width: 150px;
                text-align: center;
               }
               i{
                   font-size: 60px;
                   color: $green;
                   padding: 4px;
               }
              
               a{  
                   padding: 10px;
                   text-decoration: none;
                   font-size: 15px;
                   color: #fff;
               }
           }

           & .content__wraper{
               width: 40vw;
               h1{
                   font-size: 3.5vw;
                   padding-left: 50px;
                   padding-top: 70px;
               }
               & .wraper__text{
                   font-size: 17px;
                   padding: 50px;
                   font-weight: 100;               
                }
               & .wraper__block{
                   display: flex;
                   justify-content: center;
                   margin-left: 10%;
                   flex-wrap: wrap;
                   margin-right: -100px;
                   & .wraper__tile{
                       margin: 10px 10px 10px 0px ;
                       background-color: #f2f2f2;
                       height: 150px;
                       width: 220px;
                     
                       padding: 10px 10px 10px 0px;
                       justify-content: center;
                       img{
                          margin-left: 30%; 
                       }
                       p{
                           text-align: center;
                           padding: 20px;
                           font-weight: 100;
                       }
                   }
               } 

           }
       } 
    }