@import "partials/params";
@import "partials/mixins";


.header{
    display: flex;
    background: url("./imgs/mountain.png") no-repeat;
    background-size: cover;
    &__menu{
        position: relative;
        background-color:#fff;
        min-height: 700px;
        height: 100vh;
        min-width: 40px;
        width: 5vw;
        color: $grey;
        text-align: center;
        a{
            display: block;
            margin-top: 40px;
            text-decoration: none;
            color: $grey;
            clear: both;
            transition: .6s;
        }
        a:hover{
            color: $green;
        }
        & .link__socnetworks{
            display: flex;
            transform: rotate(-90deg);
            margin-top: 70vh;
            cursor: pointer;
            p{  
                position: relative;
                display: flex;
                padding-right: 40px;
                text-transform: uppercase;
                font-size: 12px;
                padding-top: 0px;  
                transition: .6s; 
            }
            p:hover{
                color:$green;
            }
            i{
                position: absolute;
                top: -3px;
                left: -24px;
                font-size: 20px;
                padding-right: 5px;
            }
        }
    }
   

    &__main{
        position: relative;
        min-height: 700px;
        height: 100vh;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);

       &__logo{
           display: flex;
           justify-content: space-between;
           padding: 50px;
           & .main__nav{
               position: absolute;
               right: 60px;
               bottom: 50%;

               span{
                position: absolute;
                top: 50%;
                height: 1px;
                
                background-color: #fff;
               }
               & .first{
                  top: 5px;
                  background-color: $green;
                  width: 30px;
               }
               & .second{
                   top: 20px;
                   width: 15px;
                   margin-left: 15px;
               }
               & .third{
                    top: 35px;
                    width: 15px;
                    margin-left: 15px;
               }
           }
         
           & .logo__tell{
               a{
                   text-decoration: none;
                   color: #fff;
                   font-weight: bold;
               }
               p{
                   color: $grey;
                   font-size: 10px;
                   text-align: right;
                   text-transform: uppercase;
               }

           }
       }
       & .main__title{
           p{
               padding:  50px 50px 20px 50px;
               color: $green;
               font-size: 1.5vw;
               letter-spacing: 2.4px;
               font-stretch: ultra-expanded;
           }
           h1{
            color: #fff;
            padding: 0px 0px 0px 50px;
            margin-right: 28%;
            font-size: 3.5vw;

           }
       }
       & .main__tile{
           display: flex;
           color: #fff;
           margin-top: 8vw;
           margin-left: 50px;
           margin-right: 50%;
           margin-bottom: 40px;
           justify-content: space-between;
           font-size: 15px;
           clear: both;
           p{
            padding: 5px 2vw 15px 0px;
            border-bottom: 1px solid #fff;
           }
       }

       & .down__button{
           position: absolute;
           bottom: 0px;
           right: 20%;
           cursor: pointer;
           & .button{
               background-color: $green;
               text-decoration: none;
               color: #fff;
               width: 200px;
               height: 60px;
               display: block;
               text-align: center;
               line-height: 60px;
               position: relative;
               transition: .5s;
           }
       & .button:hover{
           color: $grey;
           background-color: #fff;
           border: 2px $green solid;
           bottom: -2px;
       }  
        }
    }
}