@import "./params.scss";

.request {
  background-image: url("../../dist/imgs/room2.png");
  background-repeat: no-repeat;
  background-position: top right;

  background-size: 50vw;
  height: 30vw;
  &__form {
    color: $color_text;
    &__title {
      width: 400px;
    }
    &__subtitle {
    }
    &__data {
      input {
      }
    }
    &__button {
    }
    &__text {
      p {
        a {
        }
      }
    }
  }
}
