.App{
  background-color: #fff;
  
}
.header{
  height: 100vh;
}
h1{
  text-align: center;
  padding-top: 10%;
  font-size: 4vw;
}
h1 i{
  color: yellow;
  transition: 1s;
}


.nav-item a{
  color: black;
  transition: .5s;
}

.nav-item a:hover{
   color:rgb(226, 226, 0);
}


h4{
  text-align: center;
  padding-top: 10%;
  font-size: 30px;
}

.down_button{
  position: absolute;
  bottom:  10px;
  left: 50%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: yellow;
}

.down_button i {
  padding-left:3px;
  font-size: 20px;
}

.about_me{
  margin-top: 2vw;
  width: 95%;
}

h2{
  text-align: center;
}

.text{
   width: 600px;
   margin-left: 10px;
   padding-left: 10px;
   padding-right: 30px;
}

img{
  padding-left: 10px;
  max-width: 100%;
  height: auto;
}