.App{
  background-color: #fff;
  
}
.header{
  height: 100vh;
}
h1{
  text-align: center;
  font-size: 60px;
  padding-top: 10%;
}
h1 i{
  color: yellow;
  transition: 1s;
}


.nav-item a{
  color: black;
  transition: .5s;
}

.nav-item a:hover{
   color:rgb(226, 226, 0);
}


h4{
  text-align: center;
  padding-top: 10%;
  font-size: 30px;
}

.down_button{
  position: absolute;
  bottom:  10px;
  left: 50%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: yellow;
}

.down_button i {
  padding-left:3px;
  font-size: 20px;
}

.about_me{
  margin-top: 2vw;
  margin-bottom: 10px;
  width: 95%;
}

h2{
  text-align: center;
}

.text{
   width: 600px;
   margin-left: 10px;
   padding-left: 10px;
   padding-right: 30px;
}

img{
  padding-left: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.skills{
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  clear: top;
}

.progress{
  height: 40px;
  margin-top: 10px;
}

.progress-bar{
  color: black;
}

h3{
  padding-top: 20px;
}


.content-carousel{
  padding: 10%;
  margin-bottom: 30px;
}

h5{
  color: yellow;
}

.carousel-caption a{
  text-decoration: none;
  color: yellow;
  font-size: 25px;
  background-color: grey;
  padding: 7px;
  border-radius: 10px;
  transition: .4s;
}

.carousel-caption a:hover{
  background-color:yellow;
  text-decoration: none;
  color: black;
}


