$bg_form: #f4f5fc;
$bg_button: #5a61ed;

@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "PT Sans", sans-serif;
}
