@import "partials/params";
@import "partials/mixins";


.slider{
    height: 400px;
    background-color: $blue;
    padding-top: 40px;
    padding-bottom: 40px;
    &__slick{
       margin-left: 16.5%;
       margin-right: 16.5%;
    }
    &__item{
        padding: 50px;
        background: white;
        margin: 20px;
        text-align: center;
    }
    &__code{
        text-align: left;
       margin-top: 60px;
       background-color: black;
       color:white;
       border: solid 10px white;
    }
    &__span-red{
        color:#e74c3c;
    }
    &__span-blue{
        color: #3498db;
    }
    &__span-yellow{
        color:#f1c40f;
    }
    &__span-purple{
        color:#9b59b6;
    }
}